html, body { 
    height: 100%
}

* {
    box-sizing: border-box;
}

body {   
  font-family: Arial, Helvetica, sans-serif;
}

/* Style the header */
header {
  background-color: #666;
  padding: 1px;
  text-align: center;
  font-size: 25px;
  color: white;
  height: 100px;
}

/* Container for flexboxes */
section {
  display: -webkit-flex;
  display: flex;
  height: calc(100% - 150px);
}

/* Style the navigation menu */
nav {
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  background: #ccc;
  padding: 20px;
}

/* Style the list inside the menu */
nav ul {
  list-style-type: none;
  padding: 0;
}

.btn-group button {
    padding: 10px 24px; /* Some padding */
    cursor: pointer; /* Pointer/hand icon */
    width: 90%; /* Set a width if needed */
    display: block; /* Make the buttons appear below each other */
  }

  
/* Style the content */
article {
  -webkit-flex: 3;
  -ms-flex: 3;
  flex: 3;
  background-color: #f1f1f1;
  padding: 10px;
}

/* Style the footer */
footer {
  position: relative;
  background-color: #777;
  padding: 0.1px;
  text-align: center;
  color: white;
  height: 50px;
}

textarea {
  width: 100%;
  height: 50px;
}

/* Responsive layout - makes the menu and the content (inside the section) sit on top of each other instead of next to each other */
@media (max-width: 600px) {
  section {
    -webkit-flex-direction: column;
    flex-direction: column;
  }
}